
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 50px;
}

.logo h1 {
    color: white;
    font-size: 50px;
}

.navbar h1 span {
    color: lightseagreen;
}

.navlinks{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navlinks a{
    text-decoration: none;
    color: #d3d3d3;
    font-size: 1.6rem;
}

@media (max-width: 765px) {
    .navbar {
        padding: 0px 10px;
    }

    .navlinks {
        display: none;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .logo h1 {
        font-size: 45px;
    }
}